[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
dataclasses-json = "*"

[dev-packages]
pytest = "*"
black = "*"
pylint = "*"
pytest-cov = "*"
pytest-asyncio = "*"
coverage = "*"
httpx = "*"
flake8 = "*"

[requires]
python_version = "3.11"
